.Photos {
  margin: 60px auto;
}

.image {
  max-width: 65%;
  padding: 10px;
  border-radius: 25px;
  transition: 400ms ease-in-out;
}
.image:hover {
  max-width: 100%;
}

.image:hover + .caption {
  display: block;
}
.caption {
  display: none;
}
