input {
  border-radius: 10px;
  margin-bottom: 50px;
}
.form {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.5)),
    url(Images/photo.jpeg);
  background-position: center center;

  background-repeat: no-repeat;
  background-size: cover;
  padding: 100px;
  text-align: center;
  padding: 200px auto;
  margin: 0;
}
h1 {
  font-size: 100px;
  color: #fff;
  padding: 50px;
  font-family: "Lora", serif;
  text-shadow: 0 0 15px white;
}
